<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Website</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
    <div class="wrapper">
        <nav class="navbar">
            <img class="logo" src="">
            <ul>
                <li><a class="active" href="static/bg1.jpg">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Feedback</a></li>
            </ul>
        </nav>

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert" style="color: white; text-align: center;">
            <strong>Message: </strong>{{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}

        {% if user.is_authenticated %}
        <div class="loggedin">
            <h2>Hello {{ user.username }}</h2>
            <h4>You are successfully logged in!</h4>
            <button class="btn-start"><a href="/start">Start</a></button>
        </div>
        {% else %}
        <div class="center">
            <h1>Welcome to Voting</h1>
            <div class="buttons">
                <button class="btn"><a href="/register">Register</a></button>
                <button class="btn"><a href="/signin">Login</a></button>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
