<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Custom Website</title>
	<link rel="stylesheet" href="static/home.css">
</head>
<body>
	<div class="wrapper">
			<nav class="navbar">
				<img class="logo" src="logo.png">
				<ul>
					<li><a class="active" href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Feedback</a></li>
				</ul>
			</nav>
			<div class="center">
			<h1>Welcome to voting</h1>
			<h2></h2>
			<div class="buttons">
			<button type="submit"><a href="/register">Register</a></button>
			<button class="btn2" type="submit"><a href="/login">Login</a></button>
		</div>
		</div>
</body>
</html>